@import "src/assets/styles/utils";
@import "src/assets/styles/colors";

.container {
  width: 100%;
  height: 60px;
  background-color: #48ff00;

  @include flexBox(0, column, center, center);
  position: fixed;
  z-index: 99;

  .content {
    @include flexBox(20px, row);

    .timer {
      @include textFont(30px, 45px, 600);
      color: $black;
    }
  }
}