@import "src/assets/styles/utils";
@import "src/assets/styles/colors";

.container {
  width: 100%;
  height: 5vh;
  background-color: $light_green;

  @include flexBox(0, column, center, center);
  position: fixed;
  z-index: 99;

  .content {
    @include flexBox(1vw, row);

    .timer {
      @include textFont(calc(20px + 10 * ((100vw - 1024px) / 896)), 45px, 600);
      color: $black;
    }
  }
}