@import "src/assets/styles/utils";
@import "src/assets/styles/colors";

.container {
  position: relative;
  width: min(200px, calc(120px + 80 * ((100vw - 1024px) / 896)));

  .currentCountry {
    cursor: pointer;
    box-sizing: border-box;
    padding-left: 20px;
    width: 100%;
    height: 7.4vh;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: $gray;
    @include flexBox(10px, row, center, flex-start);
    color: $black;
  }

  .countryCode {
    @include textFont(calc(14px + 10 * ((100vw - 1024px) / 896)), normal, 600);

    &_open {
      @include textFont(calc(14px + 10 * ((100vw - 1024px) / 896)), normal, 400);
      color: $gray;
    }
  }

  .img {
    width: min(25px, calc(18px + 7 * ((100vw - 1024px) / 896)));
    height: min(18px, calc(12px + 6 * ((100vw - 1024px) / 896)));
  }

  .arrow_img {
    transform: rotate(180deg)
  }

  .country {
    @include textFont(calc(14px + 10 * ((100vw - 1024px) / 896)), normal, 600);
  }

  .dropContainer {
    @include flexBox(0, column);
    position: relative;

    .dropList {
      @include flexBox(0, column);
      position: absolute;
      top: min(80px, calc(55px + 25 * ((100vw - 1024px) / 896)));

      .dropItem {
        box-sizing: border-box;
        padding-left: 20px;
        border-top: 1px solid $gray;
        width: min(400px, calc(200px + 200 * ((100vw - 1024px) / 896)));
        height: min(50px, calc(35px + 15 * ((100vw - 1024px) / 896)));
        background-color: $white;
        @include flexBox(10px, row, center, flex-start);
        cursor: pointer;
        color: $black;

        &:hover {
          background-color: $gray;
          color: $white;
        }
      }
    }
  }
}