@import "src/assets/styles/utils";
@import "src/assets/styles/colors";

.container {
  position: relative;

  .currentLanguage {
    cursor: pointer;
    box-sizing: border-box;
    width: min(255px, calc(175px + 80 * ((100vw - 1024px) / 896)));
    height: min(55px, calc(35px + 20 * ((100vw - 1024px) / 896)));
    background-color: $white;
    @include flexBox(4.2vw, row, center, center);
    color: $black;

    &:hover {
      background-color: $gray;
      color: $white;
    }

    .langWrapper {
      @include flexBox(10px, row, center, flex-start);
    }
  }


  .languageTitle {
    @include textFont(calc(14px + 4 * ((100vw - 1024px) / 896)), 24px, 600);
  }

  .triangleDown {
    width: 0;
    height: 0;
    border-left: min(10px, calc(6px + 4 * ((100vw - 1024px) / 896))) solid transparent;
    border-right: min(10px, calc(6px + 4 * ((100vw - 1024px) / 896))) solid transparent;
    border-top: min(20px, calc(14px + 6 * ((100vw - 1024px) / 896))) solid $black;

    &_open {
      width: 0;
      height: 0;
      border-left: min(10px, calc(6px + 4 * ((100vw - 1024px) / 896))) solid transparent;
      border-right: min(10px, calc(6px + 4 * ((100vw - 1024px) / 896))) solid transparent;
      border-top: min(20px, calc(14px + 6 * ((100vw - 1024px) / 896))) solid $white;
    }
  }

  .img {
    width: calc(20px + 5 * ((100vw - 1024px) / 896));
    height: calc(14px + 4 * ((100vw - 1024px) / 896));
  }

  .dropContainer {
    @include flexBox(0, column);
    position: relative;

    .dropList {
      @include flexBox(0, column);
      position: absolute;
      top: min(55px, calc(35px + 20 * ((100vw - 1024px) / 896)));

      .dropItem {
        box-sizing: border-box;
        padding-left: 20px;
        border-top: 1px solid $gray;
        width: min(255px, calc(175px + 80 * ((100vw - 1024px) / 896)));
        height: min(45px, calc(35px + 10 * ((100vw - 1024px) / 896)));
        background-color: $white;
        @include flexBox(10px, row, center, flex-start);
        cursor: pointer;
        color: $black;

        &:hover {
          background-color: $gray;
          color: $white;
        }
      }
    }
  }
}