@import "src/assets/styles/utils";
@import "src/assets/styles/colors";

.container {
  @include flexBox(10px, column);
  width: 100%;

  &_phone {
    @include flexBox(10px, column);
    width: 90%;
  }

  .input {
    box-sizing: border-box;
    width: 100%;
    height: 7.4vh;
    border-radius: 10px;
    border: none;
    padding-left: 25px;

    @include textFont(calc(18px + 7 * ((100vw - 1024px) / 896)), normal, 600);
    color: $black;

    &_error {
      border: 2px solid $red;
    }

    &_correct {
      border: 2px solid $green;
    }

    &_phone {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .correct {
    width: 100%;
    @include flexBox(0, row, normal, flex-end);
    position: relative;

    .img {
      position: absolute;
      width: min(48px, calc(24px + 24 * ((100vw - 1024px) / 896)));
      height: min(48px, calc(24px + 24 * ((100vw - 1024px) / 896)));
      bottom: min(20px, calc(15px + 5 * ((100vw - 1024px) / 896)));
      right: 10px;
    }
  }

  .errorMessage {
    @include textFont(calc(10px + 5 * ((100vw - 1024px) / 896)), normal, 400);
    color: $red;
  }
}

